{"openapi":"3.0.3","tags":[{"name":"Orders","description":"Orders represent payment transactions between fiat and crypto. This guide explains how to create and manage orders effectively.\n\n## Understanding Orders\n\n### Source (From) →\n\nThe currency and amount being sent:\n\n- Fiat currency (`USD`, `BRL`, `MXN`)\n- crypto (`USDC_ETH`, `USDT_ETH`, `USDT_TRX`)\n\n### Destination (To) ←\n\nThe currency and recipient receiving the payment:\n\n- Recipient ID (created via the [Recipients API](/docs#tag/recipients))\n- Currency to receive\n\n## Order Types\n\n| Type | Description | Examples |\n|------|-------------|----------|\n| **On-Ramp** | Convert fiat to crypto | `USD → USDC_ETH`<br>`BRL → USDT_ETH`<br>`MXN → USDT_TRX` |\n| **Off-Ramp** | Convert crypto to fiat | `USDC_ETH → USD`<br>`USDT_ETH → BRL`<br>`USDT_TRX → MXN` |\n\n## Creating Orders\n\n> **📚 Recipients Guide**  \n> Before creating orders, make sure you have set up your recipients.  \n> [Learn more about Recipients](/docs#tag/recipients)\n\n### Basic Order Creation\n\n```typescript\ninterface OrderEndpoint {\n  currency: string\n  amount?: number\n}\n\ninterface OrderDestination extends OrderEndpoint {\n  recipient_id: number\n}\n\ninterface OrderCreate {\n  from: OrderEndpoint\n  to: OrderDestination\n  is_third_party: boolean\n  purpose_of_payment?: string\n  invoice_file_url?: string\n  sender_legal_name?: string\n  sender_bank_account_last_4?: string\n}\n\nasync function createOrder(orderData: OrderCreate) {\n  const response = await fetch('http://localhost:3000/v1/orders', {\n    method: 'POST',\n    headers: {\n      'Content-Type': 'application/json',\n      'x-api-key': process.env.API_KEY,\n    },\n    body: JSON.stringify(orderData),\n  })\n\n  if (!response.ok) {\n    const error = await response.json()\n    throw new Error(error.error.message)\n  }\n\n  return response.json()\n}\n```\n\n<details>\n  <summary>Example: On-Ramp</summary>\n\n  ```typescript\n  const fiatToCryptoOrder = {\n    from: {\n      currency: 'USD',\n      amount: 1000,\n    },\n    to: {\n      currency: 'USDC_ETH',\n      recipient_id: 123,\n    },\n    is_third_party: false,\n  }\n\n  const { data: order } = await createOrder(fiatToCryptoOrder)\n  console.log('Created order:', order.id)\n  ```\n</details>\n\n<details>\n  <summary>Example: Off-Ramp</summary>\n\n  ```typescript\n  const cryptoToFiatOrder = {\n    from: {\n      currency: 'USDC_ETH',\n      amount: 1000,\n    },\n    to: {\n      currency: 'USD',\n      recipient_id: 456,\n    },\n    is_third_party: true,\n    purpose_of_payment: 'Consulting services',\n    invoice_file_url: 'https://example.com/invoice.pdf',\n    sender_legal_name: 'John Smith',\n    sender_bank_account_last_4: '1234',\n  }\n\n  const { data: order } = await createOrder(cryptoToFiatOrder)\n  console.log('Created order:', order.id)\n  ```\n</details>\n\n## Order Confirmation\n\nAfter creating an order and receiving the deposit instructions, you must confirm it by calling the [Confirm Order](/docs#tag/orders/POST/v1/orders/%7Bid%7D/confirm) endpoint.\n\n```typescript TypeScript\nconst orderId = 'ord_123'\nconst confirmation = {\n  transaction_hash:\n    '0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef',\n}\n\nconst response = await fetch(\n  `http://localhost:3000/v1/orders/${orderId}/confirm`,\n  {\n    method: 'POST',\n    headers: {\n      'Content-Type': 'application/json',\n      'x-api-key': process.env.API_KEY,\n    },\n    body: JSON.stringify(confirmation),\n  },\n)\n\nconst { data: confirmedOrder } = await response.json()\nconsole.log('Order confirmed:', confirmedOrder.status)\n```\n\n\n## Requesting Payment Identifiers\n\nAfter confirming an order, you can request payment identifiers by calling the [Request Payment Identifiers](/docs#tag/orders/POST/v1/orders/%7Bid%7D/payment_identifiers) endpoint.\n\n```typescript\nconst orderId = 'ord_123'\nconst response = await fetch(\n  `http://localhost:3000/v1/orders/${orderId}/payment_identifiers`,\n  {\n    method: 'POST',\n    headers: {\n      'x-api-key': process.env.API_KEY,\n    },\n  },\n)\n\nconst { data: identifiers } = await response.json()\nconsole.log('Payment identifiers:', {\n  imad: identifiers.imad,\n  omad: identifiers.omad,\n})\n```"}],"info":{"title":"SDigital2 Manual Order Desk API","description":"SDigital2 Manual Order Desk API enables seamless transactions between fiat currencies and cryptocurrencies. Our API provides a robust platform for managing payments, recipients, and orders with enterprise-grade security and reliability.\n\n## Features\n\n| Feature | Availability |\n| ------- | ------------ |\n| **Fiat & Crypto Support**<br>Process payments in multiple fiat currencies (USD, BRL, MXN) and cryptocurrencies (USDC, USDT) across different networks | ✓ |\n| **Recipient Management**<br>Create and manage recipients for both fiat and crypto payments with validation and security checks | ✓ |\n| **Order Processing**<br>Create, confirm, and track payment orders with real-time status updates and detailed transaction history | ✓ |\n| **Payment Identifiers**<br>Track wire transfers with IMAD/OMAD identifiers for complete payment visibility | ✓ |\n\n## Supported Currencies\n\n### Fiat Currencies\n\n- `USD` — United States Dollar\n- `BRL` — Brazilian Real\n- `MXN` — Mexican Peso\n\n### Cryptocurrencies\n\n- `USDC_ETH` — USDC on Ethereum network\n- `USDT_ETH` — USDT on Ethereum network\n- `USDT_TRX` — USDT on Tron network\n\n## Getting Started\n\n1. Get your API key and learn about [authentication](/docs#description/authentication).\n2. Set up [recipients](/docs#tag/recipients) for payments.\n3. Create and manage [orders](/docs#tag/orders).\n4. Track orders and payments with our [monitoring tools](/docs#description/monitoring).\n\n## API Overview\n\nOur RESTful API uses standard HTTP methods and returns JSON responses. Here's a quick example:\n\n```bash\n# Create a new order\ncurl -X POST \"http://localhost:3000/v1/orders\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"x-api-key: your_api_key_here\" \\\n  -d '{\n    \"from\": {\n      \"currency\": \"USD\",\n      \"amount\": 1000\n    },\n    \"to\": {\n      \"currency\": \"USDC_ETH\",\n      \"recipient_id\": 123\n    },\n    \"is_third_party\": false\n  }'\n```\n\n## Guides\n\n- [Complete Workflow](/docs#description/workflow)\n- [Recipients Guide](/docs#tag/recipients)\n- [Orders Guide](/docs#tag/orders)\n- [Monitoring Guide](/docs#description/monitoring)","version":"1.0.0"},"servers":[{"url":"https://sandbox.api.orders.sdigital2.com","description":"Sandbox server"},{"url":"https://api.orders.sdigital2.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"API key for authentication"}},"schemas":{"Order":{"type":"object","properties":{"id":{"type":"integer","minimum":0,"exclusiveMinimum":true,"description":"Unique identifier for the order."},"user_id":{"type":"integer","minimum":0,"exclusiveMinimum":true,"description":"Unique identifier for the user who created the order."},"type":{"$ref":"#/components/schemas/OrderType"},"status":{"$ref":"#/components/schemas/OrderStatus"},"from":{"type":"object","properties":{"currency":{"anyOf":[{"$ref":"#/components/schemas/CryptoToken"},{"$ref":"#/components/schemas/FiatCurrency"}]},"amount":{"type":"number","minimum":0,"exclusiveMinimum":true,"description":"Amount sent from source."}},"required":["currency","amount"]},"to":{"type":"object","properties":{"recipient_id":{"type":"integer","minimum":0,"exclusiveMinimum":true,"description":"Unique identifier for the recipient."},"currency":{"anyOf":[{"$ref":"#/components/schemas/CryptoToken"},{"$ref":"#/components/schemas/FiatCurrency"}]},"amount":{"type":"number","minimum":0,"exclusiveMinimum":true,"description":"Amount received at destination."}},"required":["recipient_id","currency","amount"]},"sender_legal_name":{"type":"string","description":"Legal name of the sender.\n\n**Required** when sender differs from the account holder.","example":"John Smith"},"sender_bank_account_last_4":{"type":"string","pattern":"^\\d{4}$","description":"Last 4 digits of sender's bank account.\n\n**Required** for USD wire transfers.","example":"1234"},"is_third_party":{"type":"boolean","default":false,"description":"Indicates if the recipient is a third party. Affects required fields.","example":false},"purpose_of_payment":{"type":"string","description":"Reason for payment.\n\n**Required** for third-party transactions.","example":"Business consulting services - Invoice #12345"},"invoice_file_url":{"type":"string","format":"uri","description":"URL to invoice document.\n\n**Required** for third-party transactions.","example":"https://example.com/document.pdf"},"deposit_instructions":{"$ref":"#/components/schemas/DepositInstructions"},"transaction_hash":{"type":"string","description":"Blockchain transaction hash for cryptocurrency transfers.","example":"0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef"},"notes":{"type":"string","description":"Internal notes about the order.","example":"Processed through priority channel."},"payment_identifiers":{"$ref":"#/components/schemas/PaymentIdentifiers"},"order_source":{"type":"string","description":"Source of the order.","example":"api"},"created_at":{"type":"string","format":"date-time","description":"[ISO 8601 timestamp](https://en.wikipedia.org/wiki/ISO_8601) indicating when this entity was first created in the system."},"updated_at":{"type":"string","format":"date-time","description":"[ISO 8601 timestamp](https://en.wikipedia.org/wiki/ISO_8601) indicating when this entity was last updated in the system."}},"required":["id","user_id","type","status","from","to","is_third_party","deposit_instructions","order_source","created_at","updated_at"],"title":"Order","description":"Order record with all details and current status.","example":{"id":1,"user_id":1,"type":"on-ramp","status":"pending","from":{"currency":"USD","amount":1000.5},"to":{"recipient_id":1,"currency":"USDC_ETH","amount":1000.5},"sender_legal_name":"John Smith","sender_bank_account_last_4":"1234","is_third_party":false,"purpose_of_payment":"Business consulting services - Invoice #12345","invoice_file_url":"https://example.com/document.pdf","deposit_instructions":{"domestic":{"bank_name":"Bank of America","account_holder_name":"John Smith","account_number":"1234567890","address_line_1":"123 Main St","address_line_2":"Apt 4B","routing_code":"110000000"},"international":{"bank_name":"Bank of America","account_holder_name":"John Smith","account_number":"1234567890","address_line_1":"123 Main St","address_line_2":"Apt 4B","swift_bic":"110000000","reference":"1234567890"}},"payment_identifiers":{"imad":"MMQFMP8C001002921","omad":"O0C20JR81C000693"},"order_source":"api","created_at":"2024-01-01T00:00:00Z","updated_at":"2024-01-01T00:00:00Z"}},"OrderType":{"type":"string","enum":["on-ramp","off-ramp"],"title":"Order Type","description":"Specifies whether the order converts:\n- `on-ramp`: fiat to crypto\n- `off-ramp`: crypto to fiat","example":"on-ramp"},"OrderStatus":{"type":"string","enum":["pending","submitted","raised","sent","received","cancelled","unknown"],"title":"Order Status","description":"Current state of the order in its lifecycle:\n\n- `pending`: Initial state\n- `submitted`: Order validated and accepted\n- `raised`: Funds detected\n- `sent`: Transfer initiated\n- `received`: Transfer completed\n- `cancelled`: Order cancelled\n- `unknown`: Status cannot be determined","example":"pending"},"CryptoToken":{"type":"string","enum":["USDC_ETH","USDT_ETH","USDT_TRX"],"title":"Crypto Token","description":"The crypto token, in the form of `{symbol}_{chain}`, e.g., `USDC_ETH`","example":"USDC_ETH"},"FiatCurrency":{"type":"string","enum":["USD","BRL","MXN"],"title":"Fiat Currency","description":"The fiat currency code in [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) format.","example":"USD","externalDocs":{"description":"ISO 4217 Currency Codes","url":"https://www.iso.org/iso-4217-currency-codes.html"}},"DepositInstructions":{"anyOf":[{"$ref":"#/components/schemas/DepositInstructions.Crypto"},{"$ref":"#/components/schemas/DepositInstructions.Fiat"}],"description":"Unified schema for both cryptocurrency and fiat currency deposit instructions."},"DepositInstructions.Crypto":{"type":"object","properties":{"token":{"$ref":"#/components/schemas/CryptoToken"},"wallet_address":{"type":"string","description":"Destination wallet address for receiving crypto funds.","example":"0x742d35Cc6634C0532925a3b844Bc454e4438f44e"}},"required":["token","wallet_address"],"title":"Crypto"},"DepositInstructions.Fiat":{"type":"object","properties":{"domestic":{"$ref":"#/components/schemas/FiatDomesticDepositInstructions"},"international":{"$ref":"#/components/schemas/FiatInternationalDepositInstructions"}},"required":["domestic","international"],"title":"Fiat"},"FiatDomesticDepositInstructions":{"type":"object","properties":{"bank_name":{"type":"string","description":"Full legal name of the receiving financial institution.","example":"Chase Bank"},"account_holder_name":{"type":"string","description":"Legal name of the bank account owner as registered with the institution.","example":"Acme Inc."},"account_number":{"type":"string","description":"Primary account number (PAN) for receiving deposits.","example":"000123456789"},"address_line_1":{"type":"string","description":"Primary address line of the banking institution (street, building, suite).","example":"1001 S. Main Street, Suite 4080"},"address_line_2":{"type":"string","description":"Secondary address line (city, state/province, postal code, country).","example":"Kalispell, MT 59901, US"},"routing_code":{"type":"string","description":"Domestic bank routing number or ABA (American Banking Association) code.","example":"021000021"}},"required":["bank_name","account_holder_name","account_number","address_line_1","address_line_2","routing_code"],"title":"Domestic Bank Details","description":"Banking information required for domestic wire or ACH transfers."},"FiatInternationalDepositInstructions":{"type":"object","properties":{"bank_name":{"type":"string","description":"Full legal name of the receiving financial institution.","example":"Chase Bank"},"account_holder_name":{"type":"string","description":"Legal name of the bank account owner as registered with the institution.","example":"Acme Inc."},"account_number":{"type":"string","description":"Primary account number (PAN) for receiving deposits.","example":"000123456789"},"address_line_1":{"type":"string","description":"Primary address line of the banking institution (street, building, suite).","example":"1001 S. Main Street, Suite 4080"},"address_line_2":{"type":"string","description":"Secondary address line (city, state/province, postal code, country).","example":"Kalispell, MT 59901, US"},"swift_bic":{"type":"string","description":"SWIFT/BIC (Bank Identifier Code) for international transfers.","example":"CHASUS33"},"reference":{"type":"string","description":"Unique reference code to track international wire transfers.","example":"REF00000"}},"required":["bank_name","account_holder_name","account_number","address_line_1","address_line_2","swift_bic","reference"],"title":"International Bank Details","description":"Banking information required for SWIFT/international wire transfers."},"PaymentIdentifiers":{"type":"object","properties":{"imad":{"type":"string","nullable":true,"description":"**IMAD** (Input Message Accountability Data)\n\nUnique identifier for incoming wire transfers.","example":"MMQFMP8C001002921"},"omad":{"type":"string","nullable":true,"description":"**OMAD** (Output Message Accountability Data)\n\nUnique identifier for outgoing wire transfers.","example":"O0C20JR81C000693"},"notes":{"type":"string","description":"Additional information about payment identifiers.","example":"Payment identifiers pending assignment."}},"required":["imad","omad"],"title":"Payment Identifiers","description":"Wire transfer tracking identifiers.","example":{"imad":"MMQFMP8C001002921","omad":"O0C20JR81C000693","notes":"Payment identifiers pending assignment."}},"OrderCreate":{"type":"object","properties":{"from":{"type":"object","properties":{"currency":{"anyOf":[{"$ref":"#/components/schemas/CryptoToken"},{"$ref":"#/components/schemas/FiatCurrency"}],"description":"Currency or token for this endpoint.","example":"USD"},"amount":{"type":"number","minimum":0,"exclusiveMinimum":true,"description":"**Important**: Transaction amount must be specified in either source or destination, not both.","example":1000.5}},"required":["currency"],"description":"Source endpoint details, including currency and optional amount.","example":{"currency":"USD","amount":1000.5}},"to":{"type":"object","properties":{"recipient_id":{"type":"integer","minimum":0,"exclusiveMinimum":true,"description":"Unique identifier for the recipient. Must be previously created via Recipients API.","example":1},"currency":{"anyOf":[{"$ref":"#/components/schemas/CryptoToken"},{"$ref":"#/components/schemas/FiatCurrency"}],"description":"Currency or token for this endpoint.","example":"USD"},"amount":{"type":"number","minimum":0,"exclusiveMinimum":true,"description":"**Important**: Transaction amount must be specified in either source or destination, not both.","example":1000.5}},"required":["recipient_id","currency"],"description":"Destination endpoint details, including recipient and currency.","example":{"recipient_id":1,"currency":"USDC_ETH"}},"sender_legal_name":{"type":"string","description":"Legal name of the sender.\n\n**Required** when sender differs from the account holder.","example":"John Smith"},"sender_bank_account_last_4":{"type":"string","pattern":"^\\d{4}$","description":"Last 4 digits of sender's bank account.\n\n**Required** for USD wire transfers.","example":"1234"},"is_third_party":{"type":"boolean","default":false,"description":"Indicates if the recipient is a third party. Affects required fields.","example":false},"purpose_of_payment":{"type":"string","description":"Reason for payment.\n\n**Required** for third-party transactions.","example":"Business consulting services - Invoice #12345"},"invoice_file_url":{"type":"string","format":"uri","description":"URL to invoice document.\n\n**Required** for third-party transactions.","example":"https://example.com/document.pdf"},"developer_fee":{"type":"number","description":"The fee, expressed as a decimal number, represents the amount you wish to reserve for your own account. This fee is the final amount deducted from what your customer ultimately receives, rather than a percentage.\n\nIt is denominated in the source currency if that is a fiat currency, or in the fiat currency to which the source currency is pegged.","example":0.05}},"required":["from","to"],"title":"Create Order","description":"Parameters for creating a new order.","example":{"from":{"currency":"USD","amount":1000.5},"to":{"recipient_id":1,"currency":"USDC_ETH"},"sender_legal_name":"John Smith","sender_bank_account_last_4":"1234","is_third_party":false,"purpose_of_payment":"Business consulting services - Invoice #12345","invoice_file_url":"https://example.com/document.pdf"}},"OrderConfirm":{"type":"object","properties":{"transaction_hash":{"type":"string","description":"Blockchain transaction hash.\n\n**Required** for cryptocurrency transfers.","example":"0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef"}},"title":"Confirm Order","description":"Parameters for confirming an order completion.","example":{"transaction_hash":"0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef"}},"CryptoRecipient":{"type":"object","properties":{"id":{"type":"integer","minimum":0,"exclusiveMinimum":true,"description":"Unique identifier for the recipient."},"type":{"type":"string","enum":["crypto"],"description":"Always `crypto`.","example":"crypto"},"user_id":{"type":"integer","minimum":0,"exclusiveMinimum":true,"description":"Unique identifier for the user who owns this recipient."},"token":{"$ref":"#/components/schemas/CryptoToken"},"address":{"type":"string","minLength":1,"description":"**Wallet Address**\n- Must be a valid address for the specified token\n- Case-insensitive\n- No spaces allowed","example":"0x742d35Cc6634C0532925a3b844Bc454e4438f44e"},"business_details":{"type":"object","properties":{"name":{"type":"string","minLength":1,"description":"Legal registered business name of the recipient organization.","example":"Acme Corporation"}},"required":["name"],"description":"Business entity details for the recipient.","example":{"name":"Acme Corporation"}},"is_active":{"type":"boolean","description":"Indicates if the recipient is currently active and available for transactions.","example":true}},"required":["id","type","user_id","token","address","business_details","is_active"],"title":"Crypto Recipient","description":"Represents a cryptocurrency recipient for digital asset transfers."},"FiatDomesticRecipient":{"type":"object","properties":{"id":{"type":"integer","minimum":0,"exclusiveMinimum":true,"description":"Unique identifier for the recipient."},"type":{"type":"string","enum":["fiat"],"description":"Always `fiat`.","example":"fiat"},"user_id":{"type":"integer","minimum":0,"exclusiveMinimum":true,"description":"Unique identifier for the user who owns this recipient."},"currency":{"$ref":"#/components/schemas/FiatCurrency"},"business_details":{"$ref":"#/components/schemas/BusinessDetails"},"destination_bank_account_details":{"$ref":"#/components/schemas/DomesticBankDetails"},"is_active":{"type":"boolean","description":"Indicates if the recipient is currently active and available for transactions.","example":true}},"required":["id","type","user_id","currency","business_details","destination_bank_account_details","is_active"],"title":"Domestic Fiat Recipient","description":"Represents a domestic (US) bank account recipient."},"BusinessDetails":{"type":"object","properties":{"name":{"type":"string","minLength":1,"description":"Legal registered business name as it appears on bank documents.","example":"Acme Corporation"},"address":{"type":"string","minLength":1,"description":"Complete street address of the business headquarters.","example":"123 Corporate Plaza, Suite 500"},"city":{"type":"string","minLength":1,"description":"City of business registration.","example":"New York"},"state_province":{"type":"string","minLength":1,"description":"State/province/region of business registration.","example":"NY"},"postal_code":{"type":"string","pattern":"^[0-9A-Z\\s-]+$","minLength":1,"description":"Valid postal/ZIP code for the business address.","example":"10001"},"country":{"type":"string","pattern":"^[A-Z]{3}$","minLength":1,"description":"Three-letter country code in [ISO 3166-1 alpha-3](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3) format.","example":"USA","externalDocs":{"description":"ISO 3166-1 alpha-3","url":"https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3"}}},"required":["name","address","city","state_province","postal_code","country"],"title":"Business Details","description":"Business registration and location information."},"DomesticBankDetails":{"type":"object","properties":{"bank_name":{"type":"string","minLength":1,"description":"Official name of the banking institution.","example":"Chase Bank"},"bank_address":{"type":"string","minLength":1,"description":"Complete physical address of the bank branch.","example":"270 Park Avenue, New York, NY 10017"},"bank_country":{"type":"string","pattern":"^[A-Z]{3}$","minLength":1,"description":"Three-letter country code in [ISO 3166-1 alpha-3](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3) format.","example":"USA","externalDocs":{"description":"ISO 3166-1 alpha-3","url":"https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3"}},"account_number":{"type":"string","minLength":4,"maxLength":17,"description":"**Bank Account Number**\n- Required for domestic (US) transfers\n- 4-17 digits\n- No spaces or special characters","example":"123456789012345"}},"required":["bank_name","bank_address","bank_country","account_number"],"title":"Domestic Bank Details","description":"Banking information for domestic (US) transfers."},"FiatInternationalRecipient":{"type":"object","properties":{"id":{"type":"integer","minimum":0,"exclusiveMinimum":true,"description":"Unique identifier for the recipient."},"type":{"type":"string","enum":["fiat"],"description":"Always `fiat`.","example":"fiat"},"user_id":{"type":"integer","minimum":0,"exclusiveMinimum":true,"description":"Unique identifier for the user who owns this recipient."},"currency":{"$ref":"#/components/schemas/FiatCurrency"},"business_details":{"$ref":"#/components/schemas/BusinessDetails"},"destination_bank_account_details":{"$ref":"#/components/schemas/InternationalBankDetails"},"intermediary_bank_details":{"$ref":"#/components/schemas/IntermediaryBankDetails"},"is_active":{"type":"boolean","description":"Indicates if the recipient is currently active and available for transactions.","example":true}},"required":["id","type","user_id","currency","business_details","destination_bank_account_details","intermediary_bank_details","is_active"],"title":"International Fiat Recipient","description":"Represents an international bank account recipient."},"InternationalBankDetails":{"type":"object","properties":{"bank_name":{"type":"string","minLength":1,"description":"Official name of the banking institution.","example":"Deutsche Bank"},"bank_address":{"type":"string","minLength":1,"description":"Complete physical address of the bank branch.","example":"Taunusanlage 12, 60325 Frankfurt am Main, Germany"},"bank_country":{"type":"string","pattern":"^[A-Z]{3}$","minLength":1,"description":"Three-letter country code in [ISO 3166-1 alpha-3](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3) format.","example":"USA","externalDocs":{"description":"ISO 3166-1 alpha-3","url":"https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3"}},"account_bic_swift_code":{"type":"string","pattern":"^[A-Z]{6}[A-Z0-9]{2}([A-Z0-9]{3})?$","description":"**BIC/SWIFT Code**\n- Required for international transfers\n- 8 or 11 characters\n- Format: `XXXXXX[XX][XXX]`","example":"DEUTDEFF"}},"required":["bank_name","bank_address","bank_country","account_bic_swift_code"],"title":"International Bank Details","description":"Banking information for international transfers."},"IntermediaryBankDetails":{"type":"object","properties":{"bank_name":{"type":"string","description":"Name of the US-based intermediary bank.","example":"JPMorgan Chase"},"account_routing_number":{"type":"string","pattern":"^\\d{9}$","description":"**ABA Routing Number**\n- 9 digits\n- Must be valid US routing number\n- Required for international transfers","example":"021000021"}},"required":["bank_name","account_routing_number"],"title":"Intermediary Bank Details","description":"US intermediary bank information for international wire transfers."},"Webhook":{"type":"object","properties":{"id":{"type":"integer","minimum":0,"exclusiveMinimum":true,"description":"Unique identifier for the webhook"},"user_id":{"type":"string","description":"Unique identifier for the user who created the webhook."},"webhook_url":{"type":"string","format":"uri","description":"The webhook URL to be sent"},"status":{"$ref":"#/components/schemas/WebhookStatus"}},"required":["id","user_id","webhook_url","status"],"title":"Webhook","description":"Webhook object","example":{"id":1,"user_id":"1","webhook_url":"https://example.com/webhook","status":"active"}},"WebhookStatus":{"type":"string","enum":["active","deleted"],"title":"Webhook Status","description":"Current state of the Webhook","example":"active"},"WebhookCreate":{"type":"string","format":"uri","title":"Webhook Create","description":"The webhook URL to be sent","example":"https://example.com/webhook"}}},"paths":{"/v1/orders":{"get":{"responses":{"200":{"description":"Successfully retrieved list of orders","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]},"data":{"type":"array","items":{"$ref":"#/components/schemas/Order"}}},"required":["status","data"],"title":"Successful Response","description":"Successful response with data."}}}},"401":{"description":"Unauthorized - Invalid or missing authentication","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["error"],"title":"Response Status","example":"error"},"error":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable error description.","example":"Invalid input provided."},"fields":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}},"title":"Fields","description":"Validation errors by field name.","example":{"email":["Must be a valid email address"],"amount":["Must be a positive number"]}},"cause":{"description":"Underlying error details."}},"required":["message"],"title":"Error Details","description":"Detailed error information."}},"required":["status","error"],"title":"Error Response","description":"Error response with details.","example":{"status":"error","error":{"message":"Unauthorized"}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["error"],"title":"Response Status","example":"error"},"error":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable error description.","example":"Invalid input provided."},"fields":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}},"title":"Fields","description":"Validation errors by field name.","example":{"email":["Must be a valid email address"],"amount":["Must be a positive number"]}},"cause":{"description":"Underlying error details."}},"required":["message"],"title":"Error Details","description":"Detailed error information."}},"required":["status","error"],"title":"Error Response","description":"Error response with details.","example":{"status":"error","error":{"message":"Internal server error"}}}}}}},"operationId":"listOrders","summary":"List orders","description":"List all orders in the organization","tags":["Orders"]},"post":{"responses":{"201":{"description":"Order successfully created","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]},"data":{"$ref":"#/components/schemas/Order"}},"required":["status","data"],"title":"Successful Response","description":"Successful response with data."}}}},"400":{"description":"Bad request - Invalid input data","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["error"],"title":"Response Status","example":"error"},"error":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable error description.","example":"Invalid input provided."},"fields":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}},"title":"Fields","description":"Validation errors by field name.","example":{"email":["Must be a valid email address"],"amount":["Must be a positive number"]}},"cause":{"description":"Underlying error details."}},"required":["message"],"title":"Error Details","description":"Detailed error information."}},"required":["status","error"],"title":"Error Response","description":"Error response with details."}}}},"401":{"description":"Unauthorized - Invalid or missing authentication","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["error"],"title":"Response Status","example":"error"},"error":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable error description.","example":"Invalid input provided."},"fields":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}},"title":"Fields","description":"Validation errors by field name.","example":{"email":["Must be a valid email address"],"amount":["Must be a positive number"]}},"cause":{"description":"Underlying error details."}},"required":["message"],"title":"Error Details","description":"Detailed error information."}},"required":["status","error"],"title":"Error Response","description":"Error response with details.","example":{"status":"error","error":{"message":"Unauthorized"}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["error"],"title":"Response Status","example":"error"},"error":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable error description.","example":"Invalid input provided."},"fields":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}},"title":"Fields","description":"Validation errors by field name.","example":{"email":["Must be a valid email address"],"amount":["Must be a positive number"]}},"cause":{"description":"Underlying error details."}},"required":["message"],"title":"Error Details","description":"Detailed error information."}},"required":["status","error"],"title":"Error Response","description":"Error response with details.","example":{"status":"error","error":{"message":"Internal server error"}}}}}}},"operationId":"postV1Orders","summary":"Create order","description":"Create a new order in the organization","tags":["Orders"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderCreate"}}}}}},"/v1/orders/{id}":{"get":{"responses":{"200":{"description":"Order details successfully retrieved","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]},"data":{"$ref":"#/components/schemas/Order"}},"required":["status","data"],"title":"Successful Response","description":"Successful response with data."}}}},"401":{"description":"Unauthorized - Invalid or missing authentication","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["error"],"title":"Response Status","example":"error"},"error":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable error description.","example":"Invalid input provided."},"fields":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}},"title":"Fields","description":"Validation errors by field name.","example":{"email":["Must be a valid email address"],"amount":["Must be a positive number"]}},"cause":{"description":"Underlying error details."}},"required":["message"],"title":"Error Details","description":"Detailed error information."}},"required":["status","error"],"title":"Error Response","description":"Error response with details.","example":{"status":"error","error":{"message":"Unauthorized"}}}}}},"404":{"description":"Order not found","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["error"],"title":"Response Status","example":"error"},"error":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable error description.","example":"Invalid input provided."},"fields":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}},"title":"Fields","description":"Validation errors by field name.","example":{"email":["Must be a valid email address"],"amount":["Must be a positive number"]}},"cause":{"description":"Underlying error details."}},"required":["message"],"title":"Error Details","description":"Detailed error information."}},"required":["status","error"],"title":"Error Response","description":"Error response with details."}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["error"],"title":"Response Status","example":"error"},"error":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable error description.","example":"Invalid input provided."},"fields":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}},"title":"Fields","description":"Validation errors by field name.","example":{"email":["Must be a valid email address"],"amount":["Must be a positive number"]}},"cause":{"description":"Underlying error details."}},"required":["message"],"title":"Error Details","description":"Detailed error information."}},"required":["status","error"],"title":"Error Response","description":"Error response with details.","example":{"status":"error","error":{"message":"Internal server error"}}}}}}},"operationId":"getV1OrdersById","summary":"Get order","description":"Retrieve a specific order by ID","tags":["Orders"],"parameters":[{"schema":{"type":"integer","minimum":0,"exclusiveMinimum":true,"description":"Unique identifier for the order."},"in":"path","name":"id","required":true}]}},"/v1/orders/{id}/confirm":{"post":{"responses":{"200":{"description":"Order confirmed","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]},"data":{"$ref":"#/components/schemas/Order"}},"required":["status","data"],"title":"Successful Response","description":"Successful response with data."}}}},"401":{"description":"Unauthorized - Invalid or missing authentication","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["error"],"title":"Response Status","example":"error"},"error":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable error description.","example":"Invalid input provided."},"fields":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}},"title":"Fields","description":"Validation errors by field name.","example":{"email":["Must be a valid email address"],"amount":["Must be a positive number"]}},"cause":{"description":"Underlying error details."}},"required":["message"],"title":"Error Details","description":"Detailed error information."}},"required":["status","error"],"title":"Error Response","description":"Error response with details.","example":{"status":"error","error":{"message":"Unauthorized"}}}}}},"404":{"description":"Order not found","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["error"],"title":"Response Status","example":"error"},"error":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable error description.","example":"Invalid input provided."},"fields":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}},"title":"Fields","description":"Validation errors by field name.","example":{"email":["Must be a valid email address"],"amount":["Must be a positive number"]}},"cause":{"description":"Underlying error details."}},"required":["message"],"title":"Error Details","description":"Detailed error information."}},"required":["status","error"],"title":"Error Response","description":"Error response with details."}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["error"],"title":"Response Status","example":"error"},"error":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable error description.","example":"Invalid input provided."},"fields":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}},"title":"Fields","description":"Validation errors by field name.","example":{"email":["Must be a valid email address"],"amount":["Must be a positive number"]}},"cause":{"description":"Underlying error details."}},"required":["message"],"title":"Error Details","description":"Detailed error information."}},"required":["status","error"],"title":"Error Response","description":"Error response with details.","example":{"status":"error","error":{"message":"Internal server error"}}}}}}},"operationId":"postV1OrdersByIdConfirm","summary":"Confirm order","description":"Confirm an order","tags":["Orders"],"parameters":[{"schema":{"type":"integer","minimum":0,"exclusiveMinimum":true,"description":"Unique identifier for the order."},"in":"path","name":"id","required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderConfirm"}}}}}},"/v1/orders/{id}/payment_identifiers":{"post":{"responses":{"200":{"description":"Payment identifiers successfully retrieved or requested","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]},"data":{"$ref":"#/components/schemas/PaymentIdentifiers"}},"required":["status","data"],"title":"Successful Response","description":"Successful response with data."}}}},"401":{"description":"Unauthorized - Invalid or missing authentication","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["error"],"title":"Response Status","example":"error"},"error":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable error description.","example":"Invalid input provided."},"fields":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}},"title":"Fields","description":"Validation errors by field name.","example":{"email":["Must be a valid email address"],"amount":["Must be a positive number"]}},"cause":{"description":"Underlying error details."}},"required":["message"],"title":"Error Details","description":"Detailed error information."}},"required":["status","error"],"title":"Error Response","description":"Error response with details.","example":{"status":"error","error":{"message":"Unauthorized"}}}}}},"404":{"description":"Order not found","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["error"],"title":"Response Status","example":"error"},"error":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable error description.","example":"Invalid input provided."},"fields":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}},"title":"Fields","description":"Validation errors by field name.","example":{"email":["Must be a valid email address"],"amount":["Must be a positive number"]}},"cause":{"description":"Underlying error details."}},"required":["message"],"title":"Error Details","description":"Detailed error information."}},"required":["status","error"],"title":"Error Response","description":"Error response with details."}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["error"],"title":"Response Status","example":"error"},"error":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable error description.","example":"Invalid input provided."},"fields":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}},"title":"Fields","description":"Validation errors by field name.","example":{"email":["Must be a valid email address"],"amount":["Must be a positive number"]}},"cause":{"description":"Underlying error details."}},"required":["message"],"title":"Error Details","description":"Detailed error information."}},"required":["status","error"],"title":"Error Response","description":"Error response with details.","example":{"status":"error","error":{"message":"Internal server error"}}}}}}},"operationId":"postV1OrdersByIdPayment_identifiers","summary":"Request payment identifiers","description":"Request IMAD/OMAD payment identifiers for an order","tags":["Orders"],"parameters":[{"schema":{"type":"integer","minimum":0,"exclusiveMinimum":true,"description":"Unique identifier for the order."},"in":"path","name":"id","required":true}]}},"/v1/recipients":{"get":{"responses":{"200":{"description":"Successfully retrieved list of recipients","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]},"data":{"type":"array","items":{"anyOf":[{"$ref":"#/components/schemas/CryptoRecipient"},{"$ref":"#/components/schemas/FiatDomesticRecipient"},{"$ref":"#/components/schemas/FiatInternationalRecipient"}]}}},"required":["status","data"],"title":"Successful Response","description":"Successful response with data."}}}},"401":{"description":"Unauthorized - Invalid or missing authentication","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["error"],"title":"Response Status","example":"error"},"error":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable error description.","example":"Invalid input provided."},"fields":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}},"title":"Fields","description":"Validation errors by field name.","example":{"email":["Must be a valid email address"],"amount":["Must be a positive number"]}},"cause":{"description":"Underlying error details."}},"required":["message"],"title":"Error Details","description":"Detailed error information."}},"required":["status","error"],"title":"Error Response","description":"Error response with details.","example":{"status":"error","error":{"message":"Unauthorized"}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["error"],"title":"Response Status","example":"error"},"error":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable error description.","example":"Invalid input provided."},"fields":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}},"title":"Fields","description":"Validation errors by field name.","example":{"email":["Must be a valid email address"],"amount":["Must be a positive number"]}},"cause":{"description":"Underlying error details."}},"required":["message"],"title":"Error Details","description":"Detailed error information."}},"required":["status","error"],"title":"Error Response","description":"Error response with details.","example":{"status":"error","error":{"message":"Internal server error"}}}}}}},"operationId":"listRecipients","summary":"List recipients","description":"List all recipients in the organization","tags":["Recipients"]},"post":{"responses":{"201":{"description":"Recipient successfully created","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]},"data":{"anyOf":[{"$ref":"#/components/schemas/CryptoRecipient"},{"$ref":"#/components/schemas/FiatDomesticRecipient"},{"$ref":"#/components/schemas/FiatInternationalRecipient"}]}},"required":["status","data"],"title":"Successful Response","description":"Successful response with data."}}}},"400":{"description":"Bad request - Invalid input data","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["error"],"title":"Response Status","example":"error"},"error":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable error description.","example":"Invalid input provided."},"fields":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}},"title":"Fields","description":"Validation errors by field name.","example":{"email":["Must be a valid email address"],"amount":["Must be a positive number"]}},"cause":{"description":"Underlying error details."}},"required":["message"],"title":"Error Details","description":"Detailed error information."}},"required":["status","error"],"title":"Error Response","description":"Error response with details."}}}},"401":{"description":"Unauthorized - Invalid or missing authentication","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["error"],"title":"Response Status","example":"error"},"error":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable error description.","example":"Invalid input provided."},"fields":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}},"title":"Fields","description":"Validation errors by field name.","example":{"email":["Must be a valid email address"],"amount":["Must be a positive number"]}},"cause":{"description":"Underlying error details."}},"required":["message"],"title":"Error Details","description":"Detailed error information."}},"required":["status","error"],"title":"Error Response","description":"Error response with details.","example":{"status":"error","error":{"message":"Unauthorized"}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["error"],"title":"Response Status","example":"error"},"error":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable error description.","example":"Invalid input provided."},"fields":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}},"title":"Fields","description":"Validation errors by field name.","example":{"email":["Must be a valid email address"],"amount":["Must be a positive number"]}},"cause":{"description":"Underlying error details."}},"required":["message"],"title":"Error Details","description":"Detailed error information."}},"required":["status","error"],"title":"Error Response","description":"Error response with details.","example":{"status":"error","error":{"message":"Internal server error"}}}}}}},"operationId":"postV1Recipients","summary":"Create recipient","description":"Create a new recipient","tags":["Recipients"],"requestBody":{"content":{"application/json":{"schema":{"anyOf":[{"type":"object","properties":{"type":{"type":"string","enum":["crypto"],"description":"Always `crypto`.","example":"crypto"},"token":{"$ref":"#/components/schemas/CryptoToken"},"address":{"type":"string","minLength":1,"description":"**Wallet Address**\n- Must be a valid address for the specified token\n- Case-insensitive\n- No spaces allowed","example":"0x742d35Cc6634C0532925a3b844Bc454e4438f44e"},"business_details":{"type":"object","properties":{"name":{"type":"string","minLength":1,"description":"Legal registered business name of the recipient organization.","example":"Acme Corporation"}},"required":["name"],"description":"Business entity details for the recipient.","example":{"name":"Acme Corporation"}}},"required":["type","token","address","business_details"],"title":"Crypto Recipient","description":"**Required fields for creating a new cryptocurrency recipient.**"},{"type":"object","properties":{"type":{"type":"string","enum":["fiat"],"description":"Always `fiat`.","example":"fiat"},"currency":{"$ref":"#/components/schemas/FiatCurrency"},"business_details":{"$ref":"#/components/schemas/BusinessDetails"},"destination_bank_account_details":{"$ref":"#/components/schemas/DomesticBankDetails"}},"required":["type","currency","business_details","destination_bank_account_details"],"title":"Fiat Recipient (Domestic)","description":"**Required fields for creating a new domestic bank recipient.**"},{"type":"object","properties":{"type":{"type":"string","enum":["fiat"],"description":"Always `fiat`.","example":"fiat"},"currency":{"$ref":"#/components/schemas/FiatCurrency"},"business_details":{"$ref":"#/components/schemas/BusinessDetails"},"destination_bank_account_details":{"$ref":"#/components/schemas/InternationalBankDetails"},"intermediary_bank_details":{"$ref":"#/components/schemas/IntermediaryBankDetails"}},"required":["type","currency","business_details","destination_bank_account_details","intermediary_bank_details"],"title":"Fiat Recipient (International)","description":"**Required fields for creating a new international bank recipient.**"}]}}}}}},"/v1/recipients/{id}":{"get":{"responses":{"200":{"description":"Recipient details successfully retrieved","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]},"data":{"anyOf":[{"$ref":"#/components/schemas/CryptoRecipient"},{"$ref":"#/components/schemas/FiatDomesticRecipient"},{"$ref":"#/components/schemas/FiatInternationalRecipient"}]}},"required":["status","data"],"title":"Successful Response","description":"Successful response with data."}}}},"401":{"description":"Unauthorized - Invalid or missing authentication","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["error"],"title":"Response Status","example":"error"},"error":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable error description.","example":"Invalid input provided."},"fields":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}},"title":"Fields","description":"Validation errors by field name.","example":{"email":["Must be a valid email address"],"amount":["Must be a positive number"]}},"cause":{"description":"Underlying error details."}},"required":["message"],"title":"Error Details","description":"Detailed error information."}},"required":["status","error"],"title":"Error Response","description":"Error response with details.","example":{"status":"error","error":{"message":"Unauthorized"}}}}}},"404":{"description":"Recipient not found","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["error"],"title":"Response Status","example":"error"},"error":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable error description.","example":"Invalid input provided."},"fields":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}},"title":"Fields","description":"Validation errors by field name.","example":{"email":["Must be a valid email address"],"amount":["Must be a positive number"]}},"cause":{"description":"Underlying error details."}},"required":["message"],"title":"Error Details","description":"Detailed error information."}},"required":["status","error"],"title":"Error Response","description":"Error response with details."}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["error"],"title":"Response Status","example":"error"},"error":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable error description.","example":"Invalid input provided."},"fields":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}},"title":"Fields","description":"Validation errors by field name.","example":{"email":["Must be a valid email address"],"amount":["Must be a positive number"]}},"cause":{"description":"Underlying error details."}},"required":["message"],"title":"Error Details","description":"Detailed error information."}},"required":["status","error"],"title":"Error Response","description":"Error response with details.","example":{"status":"error","error":{"message":"Internal server error"}}}}}}},"operationId":"getV1RecipientsById","summary":"Get recipient","description":"Retrieve a specific recipient by ID","tags":["Recipients"],"parameters":[{"schema":{"type":"integer","minimum":0,"exclusiveMinimum":true,"description":"Unique identifier for the recipient."},"in":"path","name":"id","required":true}]},"patch":{"responses":{"200":{"description":"Recipient successfully updated","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]},"data":{"anyOf":[{"$ref":"#/components/schemas/CryptoRecipient"},{"$ref":"#/components/schemas/FiatDomesticRecipient"},{"$ref":"#/components/schemas/FiatInternationalRecipient"}]}},"required":["status","data"],"title":"Successful Response","description":"Successful response with data."}}}},"400":{"description":"Bad request - Invalid input data","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["error"],"title":"Response Status","example":"error"},"error":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable error description.","example":"Invalid input provided."},"fields":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}},"title":"Fields","description":"Validation errors by field name.","example":{"email":["Must be a valid email address"],"amount":["Must be a positive number"]}},"cause":{"description":"Underlying error details."}},"required":["message"],"title":"Error Details","description":"Detailed error information."}},"required":["status","error"],"title":"Error Response","description":"Error response with details."}}}},"401":{"description":"Unauthorized - Invalid or missing authentication","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["error"],"title":"Response Status","example":"error"},"error":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable error description.","example":"Invalid input provided."},"fields":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}},"title":"Fields","description":"Validation errors by field name.","example":{"email":["Must be a valid email address"],"amount":["Must be a positive number"]}},"cause":{"description":"Underlying error details."}},"required":["message"],"title":"Error Details","description":"Detailed error information."}},"required":["status","error"],"title":"Error Response","description":"Error response with details.","example":{"status":"error","error":{"message":"Unauthorized"}}}}}},"404":{"description":"Recipient not found","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["error"],"title":"Response Status","example":"error"},"error":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable error description.","example":"Invalid input provided."},"fields":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}},"title":"Fields","description":"Validation errors by field name.","example":{"email":["Must be a valid email address"],"amount":["Must be a positive number"]}},"cause":{"description":"Underlying error details."}},"required":["message"],"title":"Error Details","description":"Detailed error information."}},"required":["status","error"],"title":"Error Response","description":"Error response with details."}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["error"],"title":"Response Status","example":"error"},"error":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable error description.","example":"Invalid input provided."},"fields":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}},"title":"Fields","description":"Validation errors by field name.","example":{"email":["Must be a valid email address"],"amount":["Must be a positive number"]}},"cause":{"description":"Underlying error details."}},"required":["message"],"title":"Error Details","description":"Detailed error information."}},"required":["status","error"],"title":"Error Response","description":"Error response with details.","example":{"status":"error","error":{"message":"Internal server error"}}}}}}},"operationId":"patchV1RecipientsById","summary":"Update recipient","description":"Update a recipient by ID","tags":["Recipients"],"parameters":[{"schema":{"type":"integer","minimum":0,"exclusiveMinimum":true,"description":"Unique identifier for the recipient."},"in":"path","name":"id","required":true}],"requestBody":{"content":{"application/json":{"schema":{"anyOf":[{"type":"object","properties":{"type":{"type":"string","enum":["crypto"],"description":"Always `crypto`.","example":"crypto"},"token":{"$ref":"#/components/schemas/CryptoToken"},"address":{"type":"string","minLength":1,"description":"**Wallet Address**\n- Must be a valid address for the specified token\n- Case-insensitive\n- No spaces allowed","example":"0x742d35Cc6634C0532925a3b844Bc454e4438f44e"},"business_details":{"type":"object","properties":{"name":{"type":"string","minLength":1,"description":"Legal registered business name of the recipient organization.","example":"Acme Corporation"}},"required":["name"],"description":"Business entity details for the recipient.","example":{"name":"Acme Corporation"}}},"required":["type","token","address","business_details"],"title":"Crypto Recipient","description":"**Required fields for creating a new cryptocurrency recipient.**"},{"type":"object","properties":{"type":{"type":"string","enum":["fiat"],"description":"Always `fiat`.","example":"fiat"},"currency":{"$ref":"#/components/schemas/FiatCurrency"},"business_details":{"$ref":"#/components/schemas/BusinessDetails"},"destination_bank_account_details":{"$ref":"#/components/schemas/DomesticBankDetails"}},"required":["type","currency","business_details","destination_bank_account_details"],"title":"Fiat Recipient (Domestic)","description":"**Required fields for creating a new domestic bank recipient.**"},{"type":"object","properties":{"type":{"type":"string","enum":["fiat"],"description":"Always `fiat`.","example":"fiat"},"currency":{"$ref":"#/components/schemas/FiatCurrency"},"business_details":{"$ref":"#/components/schemas/BusinessDetails"},"destination_bank_account_details":{"$ref":"#/components/schemas/InternationalBankDetails"},"intermediary_bank_details":{"$ref":"#/components/schemas/IntermediaryBankDetails"}},"required":["type","currency","business_details","destination_bank_account_details","intermediary_bank_details"],"title":"Fiat Recipient (International)","description":"**Required fields for creating a new international bank recipient.**"}]}}}}},"delete":{"responses":{"200":{"description":"Recipient successfully deleted","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]},"data":{"anyOf":[{"$ref":"#/components/schemas/CryptoRecipient"},{"$ref":"#/components/schemas/FiatDomesticRecipient"},{"$ref":"#/components/schemas/FiatInternationalRecipient"}]}},"required":["status","data"],"title":"Successful Response","description":"Successful response with data."}}}},"401":{"description":"Unauthorized - Invalid or missing authentication","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["error"],"title":"Response Status","example":"error"},"error":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable error description.","example":"Invalid input provided."},"fields":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}},"title":"Fields","description":"Validation errors by field name.","example":{"email":["Must be a valid email address"],"amount":["Must be a positive number"]}},"cause":{"description":"Underlying error details."}},"required":["message"],"title":"Error Details","description":"Detailed error information."}},"required":["status","error"],"title":"Error Response","description":"Error response with details.","example":{"status":"error","error":{"message":"Unauthorized"}}}}}},"404":{"description":"Recipient not found","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["error"],"title":"Response Status","example":"error"},"error":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable error description.","example":"Invalid input provided."},"fields":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}},"title":"Fields","description":"Validation errors by field name.","example":{"email":["Must be a valid email address"],"amount":["Must be a positive number"]}},"cause":{"description":"Underlying error details."}},"required":["message"],"title":"Error Details","description":"Detailed error information."}},"required":["status","error"],"title":"Error Response","description":"Error response with details."}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["error"],"title":"Response Status","example":"error"},"error":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable error description.","example":"Invalid input provided."},"fields":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}},"title":"Fields","description":"Validation errors by field name.","example":{"email":["Must be a valid email address"],"amount":["Must be a positive number"]}},"cause":{"description":"Underlying error details."}},"required":["message"],"title":"Error Details","description":"Detailed error information."}},"required":["status","error"],"title":"Error Response","description":"Error response with details.","example":{"status":"error","error":{"message":"Internal server error"}}}}}}},"operationId":"deleteV1RecipientsById","summary":"Delete recipient","description":"Delete a recipient by ID","tags":["Recipients"],"parameters":[{"schema":{"type":"integer","minimum":0,"exclusiveMinimum":true,"description":"Unique identifier for the recipient."},"in":"path","name":"id","required":true}]}},"/v1/webhook":{"get":{"responses":{"200":{"description":"Successfully retrieved list of webhooks","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]},"data":{"type":"array","items":{"$ref":"#/components/schemas/Webhook"}}},"required":["status","data"],"title":"Successful Response","description":"Successful response with data."}}}},"401":{"description":"Unauthorized - Invalid or missing authentication","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["error"],"title":"Response Status","example":"error"},"error":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable error description.","example":"Invalid input provided."},"fields":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}},"title":"Fields","description":"Validation errors by field name.","example":{"email":["Must be a valid email address"],"amount":["Must be a positive number"]}},"cause":{"description":"Underlying error details."}},"required":["message"],"title":"Error Details","description":"Detailed error information."}},"required":["status","error"],"title":"Error Response","description":"Error response with details.","example":{"status":"error","error":{"message":"Unauthorized"}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["error"],"title":"Response Status","example":"error"},"error":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable error description.","example":"Invalid input provided."},"fields":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}},"title":"Fields","description":"Validation errors by field name.","example":{"email":["Must be a valid email address"],"amount":["Must be a positive number"]}},"cause":{"description":"Underlying error details."}},"required":["message"],"title":"Error Details","description":"Detailed error information."}},"required":["status","error"],"title":"Error Response","description":"Error response with details.","example":{"status":"error","error":{"message":"Internal server error"}}}}}}},"operationId":"listWebhooks","summary":"List webhooks","description":"List all webhooks in the organization","tags":["Webhook"]},"post":{"responses":{"201":{"description":"webhook successfully created","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]},"data":{"$ref":"#/components/schemas/Webhook"}},"required":["status","data"],"title":"Successful Response","description":"Successful response with data."}}}},"400":{"description":"Bad request - Invalid input data","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["error"],"title":"Response Status","example":"error"},"error":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable error description.","example":"Invalid input provided."},"fields":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}},"title":"Fields","description":"Validation errors by field name.","example":{"email":["Must be a valid email address"],"amount":["Must be a positive number"]}},"cause":{"description":"Underlying error details."}},"required":["message"],"title":"Error Details","description":"Detailed error information."}},"required":["status","error"],"title":"Error Response","description":"Error response with details."}}}},"401":{"description":"Unauthorized - Invalid or missing authentication","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["error"],"title":"Response Status","example":"error"},"error":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable error description.","example":"Invalid input provided."},"fields":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}},"title":"Fields","description":"Validation errors by field name.","example":{"email":["Must be a valid email address"],"amount":["Must be a positive number"]}},"cause":{"description":"Underlying error details."}},"required":["message"],"title":"Error Details","description":"Detailed error information."}},"required":["status","error"],"title":"Error Response","description":"Error response with details.","example":{"status":"error","error":{"message":"Unauthorized"}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["error"],"title":"Response Status","example":"error"},"error":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable error description.","example":"Invalid input provided."},"fields":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}},"title":"Fields","description":"Validation errors by field name.","example":{"email":["Must be a valid email address"],"amount":["Must be a positive number"]}},"cause":{"description":"Underlying error details."}},"required":["message"],"title":"Error Details","description":"Detailed error information."}},"required":["status","error"],"title":"Error Response","description":"Error response with details.","example":{"status":"error","error":{"message":"Internal server error"}}}}}}},"operationId":"postV1Webhook","summary":"Create webhook","description":"Create a new webhook in the organization","tags":["Webhook"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"webhook_url":{"$ref":"#/components/schemas/WebhookCreate"}},"required":["webhook_url"]}}}}}},"/v1/webhook/{id}":{"delete":{"responses":{"200":{"description":"webhook successfully deleted","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]},"data":{"$ref":"#/components/schemas/Webhook"}},"required":["status","data"],"title":"Successful Response","description":"Successful response with data."}}}},"401":{"description":"Unauthorized - Invalid or missing authentication","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["error"],"title":"Response Status","example":"error"},"error":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable error description.","example":"Invalid input provided."},"fields":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}},"title":"Fields","description":"Validation errors by field name.","example":{"email":["Must be a valid email address"],"amount":["Must be a positive number"]}},"cause":{"description":"Underlying error details."}},"required":["message"],"title":"Error Details","description":"Detailed error information."}},"required":["status","error"],"title":"Error Response","description":"Error response with details.","example":{"status":"error","error":{"message":"Unauthorized"}}}}}},"404":{"description":"Webhook not found","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["error"],"title":"Response Status","example":"error"},"error":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable error description.","example":"Invalid input provided."},"fields":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}},"title":"Fields","description":"Validation errors by field name.","example":{"email":["Must be a valid email address"],"amount":["Must be a positive number"]}},"cause":{"description":"Underlying error details."}},"required":["message"],"title":"Error Details","description":"Detailed error information."}},"required":["status","error"],"title":"Error Response","description":"Error response with details."}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["error"],"title":"Response Status","example":"error"},"error":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable error description.","example":"Invalid input provided."},"fields":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}},"title":"Fields","description":"Validation errors by field name.","example":{"email":["Must be a valid email address"],"amount":["Must be a positive number"]}},"cause":{"description":"Underlying error details."}},"required":["message"],"title":"Error Details","description":"Detailed error information."}},"required":["status","error"],"title":"Error Response","description":"Error response with details.","example":{"status":"error","error":{"message":"Internal server error"}}}}}}},"operationId":"deleteV1WebhookById","summary":"Delete webhook","description":"Delete existing webhook","tags":["Webhook"],"parameters":[{"schema":{"type":"integer","minimum":0,"exclusiveMinimum":true,"description":"Unique identifier for the webhook."},"in":"path","name":"id","required":true}]}}}}